<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <%= simple_format t('footer.c1_content') %>
      </div>
      <div class="col-md-6 links">
        <%= simple_format t('footer.c2_content'), {}, sanitize: false %>
      </div>
    </div>    
  </div>
</footer>