<h3>Editor of the site</h3>

<p>The website www.thebloominglab.com (here after the "Website") is the property of the company The Blooming Lab LLC, PO Box 931033, located in Sharjah Media City, Sharjah, UAE<br>
You can contact us by email: contact@theboominglab.com</p>

<p>The Website Host<br>
Heroku - The Landmark @ 1 Market St., Suite 300, San Francisco, CA, 94105, United States</p>

<h3>Personal data protection policy</h3>

<p>The thebloominglab.com website makes use of cookies that allow the following features: backup of session and Google Analytics (statistics). If your browser allows it, you can disable these at any time. However we wish to inform you that such a disabling could limit your user experience by preventing the proper functioning of certain services.</p>

<h3>Site Content and intellectual property</h3>

<p>The information provided on the website is for informational purposes only. Materials posted on our website are not intended as advice and should not be relied upon as such. We therefore disclaim all liability and responsibility arising from any reliance placed on such information to the fullest extent permissible by local law.<br>
The publisher may, at any time, without notice, make changes or improvements to products, programs or services described on this site.<br>
This website and its content is copyright of The Blooming Lab- ©The Blooming Lab 2017. All rights reserved. Any redistribution, modification or reproduction of part or all of the contents in any form is prohibited. You may not, except with our express written permission, distribute or commercially exploit the content. Nor may you transmit it or store it in any other website or other form of electronic retrieval system.<br>
Any unauthorized exploitation of the website or of its content and information that is disclosed would be the responsibility of the user.<br>
The website gives access to other websites via hyperlinks. The Blooming Lab is not the manager of these websites and cannot control their content. Accordingly, The Blooming Lab may in no case be held responsible for the accessibility and content of the sites, any inaccuracies therein, or of any collected and transmitted personal data, installation of cookies or any other process aimed at the same purpose, carried out by these sites.<br>
This site is optimized for a screen resolution of 1024x768 and for browsers Chrome, Safari and Firefox (latest updates).</p>

<h3>Disclaimer of warranties</h3>

<p>Our Website is provided by The Blooming Lab on an “as is” and “as available” basis. The Blooming Lab makes no representations or warranties of any kind, express or implied, as to the operation of our website or the information, content, materials, or products included on our website. To the full extent permissible by applicable law, The Blooming Lab disclaims all warranties, express or implied, including, but not limited to, implied warranties of merchantability, fitness for a particular purpose, satisfactory quality, reasonable care and skill or non-infringement. Without limiting the foregoing, The Blooming Lab disclaims any and all warranties, express or implied, for any merchandise offered on our website. You acknowledge, by your use of the website, that your use of our website is at your sole risk. This disclaimer constitutes an essential part of these terms and conditions.</p>

<h3>Limitation of liability</h3>

<p>To the fullest extent permissible by law, we exclude and disclaim all warranties, terms, conditions and representations that might otherwise be implied by law in relation to this website. In particular we do not represent or warrant that the website will be error-free, free of viruses or other harmful components, or that defects will be corrected. You must take your own precautions in this respect. We do not accept liability for any failure to maintain the website. We shall not be liable, under these terms and conditions for any indirect, special, incidental or consequential damages or otherwise, even if advised of the possibility of such damages. The materials may contain inaccuracies and typographical errors. We do not warrant the accuracy or completeness of the materials. We shall not be liable for any loss caused as a result of your actions or inactions based on the materials available on this website. However, nothing in these terms and conditions shall affect your statutory rights, and nothing in these terms and conditions shall exclude our liability for: (i) death or personal injury arising through our negligence; (ii) fraudulent misrepresentation; and/or (iii) anything else that cannot be excluded or limited by us under applicable law.</p>

<h3>Design and realization of the site</h3>

<p><a href="http://goodmorningcoconut.co/">Good Morning Coconut</a> and <a href="http://thebloominglab.com/">The Blooming Lab</a></p>