<%= render 'menu' %>
<h2>
  <div class="text-container">
    <%= t 'terms.title' %>
  </div>
</h2>
<section class="gray">
  <div class="text-container">
    <%= render 'terms_content' %>
  </div>
</section>
<%= render 'footer' %>